@font-face {
    font-family: 'alusineregular';
    src: url('../fonts/alusrg__-webfont.woff2') format('woff2'),
         url('../fonts/alusrg__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller_bd-webfont.woff2') format('woff2'),
         url('../fonts/aller_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23014d+0,110026+100 */
    background: rgb(35,1,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(35,1,77,1) 0%, rgba(17,0,38,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(35,1,77,1) 0%,rgba(17,0,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(35,1,77,1) 0%,rgba(17,0,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23014d', endColorstr='#110026',GradientType=0 ); /* IE6-9 */
    color: white;
}

header
{
	margin-bottom: 25px;
    overflow: hidden;
    background: #6e02f5 url("../images/pattern.jpg") repeat;
    padding-bottom: 20px;
    position: relative;
    z-index: -1;
}

#headFade
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23014d+0,23014d+100&0+70,1+95 */
    background: -moz-linear-gradient(top, rgba(35,1,77,0) 0%, rgba(35,1,77,0) 65%, rgba(35,1,77,1) 90%, rgba(35,1,77,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(35,1,77,0) 0%,rgba(35,1,77,0) 65%,rgba(35,1,77,1) 90%,rgba(35,1,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(35,1,77,0) 0%,rgba(35,1,77,0) 65%,rgba(35,1,77,1) 90%,rgba(35,1,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0023014d', endColorstr='#23014d',GradientType=0 ); /* IE6-9 */
}

#mainNav
{
    text-decoration: none;
    list-style-type: none;
	margin-top: 10px;
    font-family: 'alusineregular', "Arial Black", Gadget, sans-serif;
    font-size: 1.75em;
}

#mainNav ul
{
	text-align: center;
	list-style: none;
}

#mainNav ul li a
{
    color: transparent;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,00ffff+100 */
    background: rgb(0,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,255,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,255,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,255,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1.25px white;
}

#logo
{
	display: block;
    margin-top: 15px;
    margin-bottom: 15px;
	height: 80px;
	background-size: contain;
	background-image: url(../images/logo-bas.svg), url(../images/logo.svg);
	background-repeat: no-repeat;
	background-blend-mode: hard-light;
	background-position: center;
}

#hamMenu
{
    margin-top: 30px;
}

.menu-icon
{
    margin-right: 20px;
}

footer
{
    margin-top: 25px;
    overflow: hidden;
    background: #6e02f5 url("../images/pattern.jpg") repeat;
    padding-top: 35px;
    position: relative;
    z-index: -1;
}

#footFade
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#110026+0,23014d+100&1+5,0+30 */
    background: -moz-linear-gradient(top, rgba(17,0,38,1) 0%, rgba(18,0,40,1) 5%, rgba(22,0,50,0) 30%, rgba(35,1,77,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(17,0,38,1) 0%,rgba(18,0,40,1) 5%,rgba(22,0,50,0) 30%,rgba(35,1,77,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(17,0,38,1) 0%,rgba(18,0,40,1) 5%,rgba(22,0,50,0) 30%,rgba(35,1,77,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#110026', endColorstr='#0023014d',GradientType=0 ); /* IE6-9 */
}

#mediaIcons
{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.icons
{
    float: left;
    width: 20%;
    margin: 2.5%;
}

.whiteGlow
{
    -webkit-filter: drop-shadow(0px 0px 3px white);
     filter: drop-shadow(0px 0px 3px white));
}

#copyright
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}
